{% extends 'base.html' %}
{% block conteudo %}
<p class="fs-1 fw-bold" style="text-align: center; margin-top: 25px;">Biblioteca Tia Rosa</p>

    <div class="row g-0 bg-light position-relative">
        <div class="col-md-6 mb-md-0 p-md-4" style="max-width: 500px;">
            <img src="../static/img/bib.jpg" class="w-100" />
        </div>
        <div class="col-md-6 p-4 ps-md-0">
            <h5 class="mt-0">Mais incentivo à leitura...</h5>
            <br>
            <p style="font-size: 15px;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A Biblioteca Tia Rosa possui dois ambientes para
                leitura, uma sala para realização de trabalhos, com acesso a notebooks, e um amplo acervo com mais de
                23.000 itens. A utilização do local é livre, mas condicionada ao silêncio e à manutenção e/ou
                organização do ambiente, de forma a torná-lo prazeroso e propício ao aprendizado.

                A realização de trabalhos escolares na Biblioteca só é permitida mediante agendamento prévio e
                apresentação do roteiro. O uso dos computadores e da internet é exclusivo a pesquisas, não sendo
                permitido acesso às Redes Sociais, jogos e quaisquer outros de igual natureza.
            </p>
            <p style="font-weight: bold;">Horário de Funcionamento</p>
            <p>De segunda a sexta-feira, das 07h às 22h.</p>
            <p>Conheça o nosso acervo e aprimore os seus conhecimentos!</p>
        </div>
    </div>
{% endblock conteudo %}