{% extends 'base.html' %}
{% block conteudo %}

<div class="text-center" style="margin-bottom:20px;" >
  <p class="h2 fw-bold" style="padding:0px; margin-bottom:2px;">Educação Infantil</p>
</div>

<div class="text-center" style="margin-bottom:50px;">
  <img src="{{ url_for('static', filename='../static/img/abc.jpg') }}" class="img-fluid" alt=""/>
</div>
<div style="margin-left:100px; margin-right:100px;">
<p class="blockquote text-break"> <small> No CCI, a Educação Infantil atende crianças de 2 a 5 anos. Essa fase é um dos momentos mais fantásticos e de maior aprendizagem do ser humano. Para as crianças, tudo é novidade. E a escola, claro, é o berço que inicia o crescimento e as descobertas que realizam em cada experiência, simples ou complexa, que vivenciam. Também nesse período, elas desenvolvem diferentes tipos de linguagem que facilitam o conhecimento de mundo e a comunicação com seus pares no conviver, brincar, explorar, expressar e se conhecer. Além do que, aprendem com os estímulos que recebem. Com isso, são trabalhados os aspectos cognitivo, afetivo e psicomotor, cujo foco é o aprimoramento da oralidade, da coordenação motora e da socialização, quesitos indispensáveis em todo o processo de alfabetização. Dessa forma, os pequenos ainda são motivados a desenvolverem a autoconfiança e a ampliarem suas relações sociais, num contexto totalmente lúdico e construtivo. </small></p>
  <p class="h5 fw-bold">Enriquecimento Curricular</p>
  <p class="blockquote text-break"> <small> As crianças da Ed Infantil, de acordo com a faixa etária, também participam de aulas de Natação, Inglês, PMI (jogos matemáticos), Psicomotricidade, Karatê, Dança, Musicalização, Hora do Conto e Informática</small></p>
<p class="h5 fw-bold">Avaliação</p>
  <p class="blockquote text-break"> <small> É realizada de forma global, contínua e sistemática, objetivando o acompanhamento do processo de construção do conhecimento, que se dá pela observação e reflexão permanente do professor sobre as manifestações da criança. Trimestralmente, os alunos participam de uma avaliação da Psicogênese para verificarmos o desenvolvimento da leitura e escrita.</small></p>
  <p class="blockquote text-break"><small>Além disso, temos por finalidade a identificação das dificuldades e conquistas, redimensionando a ação pedagógica, de modo a se estabelecer prioridades para o trabalho educativo, identificando-se pontos que necessitam de maior atenção, a fim de reorientar a prática, definindo o que avaliar, como e quando, em consonância com os princípios educativos aqui já expostos. O registro de todo o processo de avaliação é feito em relatórios individuais (boletins), que são apresentados aos pais ou responsáveis a cada trimestre e no final do ano letivo.</small></p>
<p class="h5 fw-bold">Estrutura da Educação Infantil</p>
  <p class="h6 fw-bold">Creche</p>
  <p class="blockquote text-break lh-1" style="padding:0px;"> <small>- Maternal Grupo 1 - para crianças com mais de 1 ano e 8 (oito) meses ou a completar 02 anos até o dia 31 de março do ano de ingresso</small></p>
  <p class="blockquote text-break lh-1" style="padding:0px;"> <small>- Maternal Grupo 2 - para crianças com 02 anos completos ou a completar 03 anos até o dia 31 de março do ano de ingresso</small></p>
  <p class="blockquote text-break lh-1" style="padding:0px;"> <small>- Maternal Grupo 3 - para crianças com 03 anos completos</small></p>
<p class="h6 fw-bold">Pré Escola</p>
  <p class="blockquote text-break lh-1" style="padding:0px;"> <small>- Jardim I: 4 anos completos ou a completar até o dia 31 de março do ano de ingresso.</small></p>
  <p class="blockquote text-break lh-1" style="padding:0px;"> <small>- Jardim II: 5 anos completos ou a completar até o dia 31 de março do ano de ingresso.</small></p>

</div>



{% endblock conteudo %}