{% extends 'base.html' %}
{% block conteudo %}

<div class="text-center" style="margin-bottom:20px;" >
  <p class="h2 fw-bold" style="padding:0px; margin-bottom:2px;">Ensino Médio</p>
</div>

<div class="text-center" style="margin-bottom:50px;">
  <img src="{{ url_for('static', filename='../static/img/abc.jpg') }}" class="img-fluid" alt=""/>
</div>
<div style="margin-left:100px; margin-right:100px;">
<p class="blockquote text-break"> <small> No CCI Sênior, temos a finalidade de desenvolver e estimular o protagonismo dos estudantes para que se tornem cidadãos conscientes, críticos, criativos e autônomos, capazes de enfrentar diversos desafios, inter e intrapessoal, e atuar na sociedade como agentes da PAZ e do BEM.</small></p>
<p class="blockquote text-break"> <small> A base curricular tem como princípio a junção da FGB (Formação Geral Básica) com as Matrizes do PAS/UnB, do Enem e dos Itinerários Formativos. Essa junção proporciona aos alunos um ensino atualizado que os aproxima  das transformações do mercado de trabalho. A Jornada Escolar Ampliada e as oportunidades de vivenciar os conteúdos de forma ampla e prática são parte dos nossos diferenciais para esse segmento.</small></p>
<p class="blockquote text-break"> <small> Apesar de o Novo Ensino Médio tornar-se obrigatório somente em 2022, o CCI implementou os Itinerário Formativos já em 2020. Esse conjunto de disciplinas, projetos, oficinas, núcleo de estudos, entre outras situações de trabalhos é dividido por área de conhecimento ou formação técnica e profissional. Assim, os estudantes têm a chance de se aprofundar em uma ou mais áreas do seu interesse e começar a pensar nas escolhas para o futuro.  </small></p>
<p class="blockquote text-break"> <small>Do 9º ano (Pré-Médio) ao Ensino Médio, os alunos são preparados para o PAS/UnB, vestibulares tradicionais, Enem, mercado de trabalho e de profissões, por meio de intensivões, simulados internos e externos e orientação vocacional para formação superior e de carreira. </small></p>
<p class="blockquote text-break"> <small>Sobre a grade horária, eles desfrutam de até 35 horas/aulas semanais conforme a seguir:</small></p>
<p class="blockquote text-break"> <small>No matutino: 2ª a 6ª feira, das 07h30 às 12h00, para todos;</small></p>
<p class="blockquote text-break"> <small>No vespertino, duas tardes, das 13h30 às 18h00, conforme horário da turma ou de acordo com o Itinerário escolhido;</small></p>
<p class="blockquote text-break"> <small>Atividades remotas (on-line) segundo horário específico da turma;</small></p>
<p class="blockquote text-break"> <small>Para o 9º ano, há os Programas Eletivos que seguem o modelo dos Itinerários Formativos;</small></p>
<p class="blockquote text-break"> <small>Além dessas aulas, os estudantes ainda têm à disposição Tutorias de Estudo em todas as disciplinas. Os horários são disponibilizados pela Coordenação do Ensino Médio.</small></p>
<p class="h5 fw-bold">Por que estudar no CCI Sênior?</p>
<p class="blockquote text-break"> <small> No CCI Sênior, os estudantes conquistam sua formação integral, por meio de um plano de ação que envolve disciplina, inovação, autonomia, atitude empreendedora e formação crítica, dentro de princípios éticos. Assim, temos muitos motivos para que seu filho sinta-se capacitado a enfrentar os desafios da vida. Conheça alguns dos nossos diferenciais e venha fazer parte de uma escola que projeta um futuro de realizações.</small></p>

</div>



{% endblock conteudo %}