{% extends 'base.html' %}
{% block conteudo %}

<div class="text-center" style="margin-bottom:20px;" >
  <p class="h2 fw-bold" style="padding:0px; margin-bottom:2px;">Ensino Fundamental</p>
</div>

<div class="text-center" style="margin-bottom:50px;">
  <img src="{{ url_for('static', filename='../static/img/abc.jpg') }}" class="img-fluid" alt=""/>
</div>
<div style="margin-left:100px; margin-right:100px;">
    <p class="blockquote text-break"> <small> Nessa fase, o letramento matemático, a competência leitora, as noções de fatos históricos, geográficos e científicos fazem parte do cotidiano escolar, sendo desenvolvidos em aulas práticas, motivadoras e interdisciplinares, enriquecidas por diversos recursos tecnológicos e projetos. Em constante formação, a equipe de professores incentiva a investigação, a pesquisa e o desenvolvimento integral do educando. Com isso, eles se sentem motivados a aprender para crescer e promover a Paz e o Bem na sociedade.</small></p>
  <p class="blockquote text-break"> <small> Por meio de um trabalho sociointeracionista, a aprendizagem e o conhecimento são construídos em contato com o meio e nas experiências que vivenciam, num clima de cooperação, socialização, diálogo e respeito às diferenças. A grade curricular tem vários diferenciais: Inglês com um programa diferenciado (PES); Redação; Música; Art’tlê (Artes, Temas Transversais e Leitura); PMI (Projeto MenteInovadora) e Programas Eletivos (a partir do 3º ano), isto é, o estudante opta por uma das atividades oferecidas em cada programa. Essas atividades proporcionam o desenvolvimento de habilidades específicas, conforme os interesses e individualidades dos alunos, em diversos espaços de aprendizagem. </small></p>
      <p class="blockquote text-break"> <small>Nas turmas de um só turno*, são 25 aulas semanais. Nas turmas JEA** - Jornada Escolar Ampliada -, 40 aulas semanais. </small></p>
<p class="h5 fw-bold">Avaliação</p>
  <p class="blockquote text-break"> <small> De forma sistemática e contínua, é feita ao longo do trimestre, a partir da realização de atividades integradas, pesquisas, produções, projetos, testes semanais e avaliação globalizada - AG. A partir dos resultados e das conquistas dos educandos, aprimora-se ainda mais o trabalho pedagógico, com a checagem e avaliação da prática pedagógica. No acompanhamento de todo esse processo de desenvolvimento, os pais têm acesso a conteúdos, tarefas, eventos, trabalhos, entre outros, por meio do CCIWEB e do Aplicativo Colégio CCI. Outro recurso bastante utilizado para aperfeiçoar a avaliação são as ferramentas da Google For Education.  </small></p>

</div>



{% endblock conteudo %}