{% extends 'base.html' %}
{% block conteudo %}
<p class="fs-1 fw-bold" style="text-align: center; margin-top: 25px;">Informações de Matrículas (Para 2023)</p>

<div class="text-center"> <br>  <img src="../static/img/pqcci.jpg" height="600" width="800"  class="img-fluid hover-shadow" alt="Hollywood Sign on The Hill"> </div>

<p class="fs-6 fw-bold" style="margin-left: 5%; margin-top: 5%;">Documentos para Matrícula em todos os níveis</p>

<ol class="list-group list-group-light " style="margin-left: 5%;">
    <li class="list-group-item item border-0 font-monospace" style="font-size: small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)">> Comprovante de tipagem sanguínea;</li>
    <li class="list-group-item item border-0 font-monospace" style="font-size: small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)" >> Cópia da Certidão de Nascimento do aluno e, se possuir, da Carteira de Identidade e do CPF;</li>
    <li class="list-group-item item border-0 font-monospace" style="font-size: small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)">> Cópia do cartão de vacina (para crianças até 08 anos);</li>
    <li class="list-group-item item border-0 font-monospace" style="font-size: small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)">> Cópia do Título de Eleitor, se maior de 16 anos;</li>
    <li class="list-group-item item border-0 font-monospace" style="font-size: small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)">> Cópia da Carteira de Identidade e CPF dos Responsáveis;</li>
    <li class="list-group-item item border-0 font-monospace" style="font-size: small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)">> Cópia do comprovante de residência: água, energia, IPTU,...</li>
    <li class="list-group-item item border-0 font-monospace" style="font-size: small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)">> 02 fotos 3X4 (recentes);</li>
    <li class="list-group-item item border-0 font-monospace" style="font-size: small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)">> Atestado médico autorizando a participação nas atividades físicas - Natação e Futsal;</li>
    <li class="list-group-item item border-0 font-monospace" style="font-size: small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)">> Histórico Escolar ou DEPROV - Declaração Provisória de Matrícula -, para  matrículas a partir do 2º ano EF ;</li>
    <li class="list-group-item item border-0 font-monospace" style="font-size: small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)">> No ato da matrícula, haverá consulta no SPC/Serasa;</li>
    <li class="list-group-item item border-0 font-monospace" style="font-size: small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)">> Em caso de débito, a matrícula não será efetivada.</li>
</ol>

<p class="fs-6 fw-bold" style="margin-left: 5%; margin-top: 2%; margin-bottom: 0;">Educação Infantil</p>
<p class="fw-bold" style="margin-left: 5%; font-size: 12px; margin-top: 0;">Valores das Mensalidades para 2023</p>

<table class="table table-sm table-hover table-bordered" border="2" style="max-width: 70%; margin-left: 5%; margin-bottom: 50px;">
    <thead>
      <tr>
        <th scope="col" style="text-align: center; max-width: 50px; ">Nivel</th>
        <th scope="col" style="text-align: center;">Valor da matricula e 11 mensalidades</th>
        <th scope="col" style="text-align: center;">Se pago até o 5º dia (R$ 30,00 de desconto)</th>
        <th scope="col" style="text-align: center;">Pagamento com cartão de crédito(mínimo 6 meses)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="text-align: center; padding: 0; ">Maternal 1,2 e 3<br> Jardim 1 e 2</th>
        <td style="text-align: center;">R$ 893,00</td>
        <td style="text-align: center;">R$ 863,00</td>
        <td style="text-align: center;">R$ 819,00</td>
      </tr>
      <tr>
        <th scope="row"  style="text-align: center; padding: 0,5%;">Taxa de Período Integral - turno contrário, sendo no vespertino até 18h20, com alimentação à parte</th>
        <td style="text-align: center;">R$ 893,00</td>
        <td style="text-align: center;">R$ 863,00 </td>
        <td style="text-align: center;">R$ 819,00 </td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Serviço de Cuidador - das 16h às 19h</th>
        <td style="text-align: center;">R$ 393,00 </td>
        <td style="text-align: center;">R$ 363,00 </td>
        <td style="text-align: center;">R$ 319,00 </td>
       </tr>
       <tr>
        <th scope="row" style="text-align: center;">Diária avulsa Serviço de Cuidador ou Período Integral</th>
        <td style="text-align: center;">R$ 53,00</td>
        <td style="text-align: center;">R$ 49,00</td>
        <td style="text-align: center;">----------</td>
       </tr>
    </tbody>
  </table>

  <p class="fw-bold" style="margin-left: 5%; font-size: 12px; margin-top: 0; margin-bottom: 0;">Valores dos Livros para 2023</p>

<table class="table table-sm table-hover table-bordered" border="2" style="max-width: 30%; margin-left: 5%; margin-bottom: 50px;">
    <thead>
      <tr>
        <th scope="col" style="text-align: center;" padding: 0;>Livros Sistema Positivo</th>
        <th scope="col" style="text-align: center;padding: 0;">Parcelados em até 10x</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="text-align: center; padding: 0; ">Maternal Grupos 1 e 2</th>
        <td style="text-align: center;">R$ 927,23</td>
      </tr>
      <tr>
        <th scope="row"  style="text-align: center; padding: 0,5%;">Maternal Grupo 3</th>
        <td style="text-align: center;">R$ 1097,23</td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Jardim 1 e 2</th>
        <td style="text-align: center; padding: 0;">R$ 1297,23 <br> Já incluso o de Inglês</td>
       </tr>
       <tr>
        <th scope="row" style="text-align: center;">Livro de Inglês Anual - MG3, J1 e 2 - Just For little Kids</th>
        <td style="text-align: center;">R$ 147,23</td>
       </tr>
    </tbody>
  </table>

  <p class="fw-bold" style="margin-left: 5%; font-size: 12px; margin-top: 0; margin-bottom: 0;">Os livros são vendidos pela Editora Positivo na loja virtual: <a href="www.proseculo.com.br">www.proseculo.com.br.</a></p>

<table class="table table-sm table-hover table-bordered" border="2" style="max-width: 30%; margin-left: 5%; margin-bottom: 50px;">
    <thead>
      <tr>
        <th scope="col" style="text-align: center; padding: 0;">Lista de Materiais</th>
        <th scope="col" style="text-align: center;padding: 0;">Série</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="text-align: center; ">Maternal Grupos 1</th>
        <td style="text-align: center;"><a href="https://docs.google.com/document/d/1RfzdvwrxsVSca9P3oy6LT2aOklpGsb2KhLf9Ez6yh-w/edit?usp=sharing">Link</a></td>
      </tr>
      <tr>
        <th scope="row"  style="text-align: center;">Maternal Grupo 2</th>
        <td style="text-align: center;"><a href="https://docs.google.com/document/d/1ctqg3dOU3Pak2lMcboSLt1BoLbTsjyKs3j1234D9H20/edit?usp=sharing">Link</a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Maternal Grupo 3</th>
        <td style="text-align: center; padding: 0;"><a href="https://docs.google.com/document/d/1aaawWfODxZAwHZG8aBN3yxDHrAHVvsPHc4Xb2zJ4vvs/edit?usp=sharing">Link</a></td>
       </tr>
       <tr>
        <th scope="row" style="text-align: center;">Jardim 1</th>
        <td style="text-align: center; padding: 0;"><a href="https://docs.google.com/document/d/1KX6D7mzNrbg7tTP9OM-TEp0d-1ciJ-ByIX-VoTeXdFI/edit?usp=sharing">Link</a></td>
       </tr>
       <tr>
        <th scope="row" style="text-align: center;">Jardim 2</th>
        <td style="text-align: center; padding: 0;"><a href="https://docs.google.com/document/d/1JmFyfMlZnTr9VGFk6GWN5kG3FZjx6Zmv7apThNRfQec/edit?usp=sharing">Link</a></td>
       </tr>
    </tbody>
  </table>

<p class="fs-6 fw-bold" style="margin-left: 5%; margin-top: 2%; margin-bottom: 0;">Faça a pré-matrícula do seu filho,</p>

<p class="fs-6 fw-bold" style="margin-left: 5%; margin-top: 2%; margin-bottom: 0;">Ensino Fundamental I e II</p>
<p class="fw-bold" style="margin-left: 5%; font-size: 12px; margin-top: 0; margin-bottom: 0;">Valores das Mensalidades para 2023</p>

<table class="table table-sm table-hover table-bordered" border="2" style="max-width: 70%; margin-left: 5%; margin-bottom: 50px;">
    <thead>
      <tr>
        <th scope="col" style="text-align: center; max-width: 50px; ">Nivel</th>
        <th scope="col" style="text-align: center;">Valor da matricula e 11 mensalidades</th>
        <th scope="col" style="text-align: center;">Se pago até o 5º dia (R$ 30,00 de desconto)</th>
        <th scope="col" style="text-align: center;">Pagamento com cartão de crédito(mínimo 6 meses)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="text-align: center;">1º ao 3º ano</th>
        <td style="text-align: center;">R$ 893,00</td>
        <td style="text-align: center;">R$ 863,00</td>
        <td style="text-align: center;">R$ 819,00</td>
      </tr>
      <tr>
        <th scope="row"  style="text-align: center; padding: 0,5%;">4º ao 8º ano</th>
        <td style="text-align: center;">R$ 993,00</td>
        <td style="text-align: center;">R$ 963,00 </td>
        <td style="text-align: center;">R$ 919,00 </td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Aditivo Opcional Jornada Escolar<br>Ampliada(JEA) de 2ª a 6ª, das 13h30 às 16h, alimentação à parte</th>
        <td style="text-align: center;">R$ 493,00 </td>
        <td style="text-align: center;">R$ 463,00 </td>
        <td style="text-align: center;">R$ 419,00 </td>
       </tr>
       <tr>
        <th scope="row" style="text-align: center;">Taxa de Período Integral - turno contrário, <br> sendo no vespertino até 18h20, com  alimentação à parte</th>
        <td style="text-align: center;">R$ 893,00</td>
        <td style="text-align: center;">R$ 863,00</td>
        <td style="text-align: center;">R$ 819,00</td>
       </tr>
       <tr>
        <th scope="row" style="text-align: center;">Serviço de Cuidador - das 16h às 19h</th>
        <td style="text-align: center;">R$ 393,00</td>
        <td style="text-align: center;">R$ 363,00</td>
        <td style="text-align: center;">R$ 319,00</td>
       </tr>
       <tr>
        <th scope="row" style="text-align: center;">Diária avulsa Serviço de Cuidador ou Período Integral</th>
        <td style="text-align: center;">R$ 53,00 </td>
        <td style="text-align: center;">R$ 49,00</td>
        <td style="text-align: center;">----------</td>
       </tr>
    </tbody>
  </table>

  <p class="fw-bold" style="margin-left: 5%; font-size: 12px; margin-top: 0; margin-bottom: 0;">Valores dos Livros para 2023</p>

  <table class="table table-sm table-hover table-bordered" border="2" style="max-width: 30%; margin-left: 5%; margin-bottom: 50px;">
      <thead>
        <tr>
          <th scope="col" style="text-align: center;" padding: 0;>Livros Sistema Positivo</th>
          <th scope="col" style="text-align: center;padding: 0;">Parcelados em até 10x</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" style="text-align: center; padding: 0; ">1º e 2º ano</th>
          <td style="text-align: center;">R$ 1869,43</td>
        </tr>
        <tr>
          <th scope="row"  style="text-align: center; padding: 0,5%;">3º, 4º e 5º ano </th>
          <td style="text-align: center;">R$ 2069,43 <br> Já incluso o do PES</td>
        </tr>
        <tr>
          <th scope="row" style="text-align: center;">6º ao 8º ano</th>
          <td style="text-align: center; padding: 0;">R$ 2199,43 <br> Já inclusos o do PES <br> e o de Educação Financeira</td>
         </tr>
         <tr>
          <th scope="row" style="text-align: center;">*Livro de Inglês PES - 1º ao 8º ano</th>
          <td style="text-align: center;">R$ 347,23</td>
         </tr>
      </tbody>
    </table>

    <p class="fw-bold" style="margin-left: 5%; font-size: 13px; margin-top: 0; margin-bottom: 0;">Os livros do 1º ao 8º ano são vendidos pela Editora Positivo na loja virtual:</a></p>
    <p class="fw-bold" style="margin-left: 5%; font-size:12px; margin-bottom:0;">*Livro vendido na Secretaria de Atendimento do CCI. </p>

    <table class="table table-sm table-hover table-bordered" border="2" style="max-width: 30%; margin-left: 5%; margin-bottom: 50px;">
        <thead>
          <tr>
            <th scope="col" style="text-align: center; padding: 0;">Lista de Materiais</th>
            <th scope="col" style="text-align: center;padding: 0;">Série</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="text-align: center; ">1º ano</th>
            <td style="text-align: center;"><a href="https://docs.google.com/document/d/1y7xaJ8Ff4w4mBtZYlbonT2bwa6sH_fhdmF-EhHC5etQ/edit?usp=sharing">Link</a></td>
          </tr>
          <tr>
            <th scope="row"  style="text-align: center;">2º ano</th>
            <td style="text-align: center;"><a href="https://docs.google.com/document/d/1G9xF75yd8reZPdU8v7d15xFG1bTX60oeGxleLtlUvUA/edit?usp=sharing">Link</a></td>
          </tr>
          <tr>
            <th scope="row" style="text-align: center;">3º ano</th>
            <td style="text-align: center; padding: 0;"><a href="https://docs.google.com/document/d/11w_7mGoRd72B2sBoecbMUsGXVipE40uRDYzj2qCpFRE/edit?usp=sharing">Link</a></td>
           </tr>
           <tr>
            <th scope="row" style="text-align: center;">4º ano</th>
            <td style="text-align: center; padding: 0;"><a href="https://docs.google.com/document/d/1mSUzJwziag9aIO8HUql2iZ95cCYf7CstbCYVa1oCJOA/edit?usp=sharing">Link</a></td>
           </tr>
           <tr>
            <th scope="row" style="text-align: center;">5º ano</th>
            <td style="text-align: center; padding: 0;"><a href="https://docs.google.com/document/d/1TP4PFfOxqdSRyZm7z2fG4CDIxxHm4m2tTpnV-Et3Lm8/edit?usp=sharing">Link</a></td>
           </tr>
           <tr>
            <th scope="row" style="text-align: center;">6º ano</th>
            <td style="text-align: center; padding: 0;"><a href="https://docs.google.com/document/d/1_TMACi-aZJNjv1PIlCi1u3g3yG7fa9im8_hJGkh1Vn8/edit?usp=sharing">Link</a></td>
           </tr>
           <tr>
            <th scope="row" style="text-align: center;">7º ano</th>
            <td style="text-align: center; padding: 0;"><a href="https://docs.google.com/document/d/1uPHgCry2WqgYdKcjeD_5NKRtqg0AlsrLfZEYcAXV-f4/edit?usp=sharing">Link</a></td>
           </tr>
           <tr>
            <th scope="row" style="text-align: center;">8º ano</th>
            <td style="text-align: center; padding: 0;"><a href="https://docs.google.com/document/d/1U4VIJhW-irkqxaYuCJEZBUnHwmKSdC6Oa9Gp4mEKPeg/edit?usp=sharing">Link</a></td>
           </tr>
        </tbody>
      </table>

      <p class="fs-6 fw-bold" style="margin-left: 5%; margin-top: 2%; margin-bottom: 0;">Faça a pré-matrícula do seu filho,</p>

      <p class="fs-6 fw-bold" style="margin-left: 5%; margin-top: 2%; margin-bottom: 0;">9º ano Pré-Médio e Ensino Médio</p>
      <p class="fw-bold" style="margin-left: 5%; font-size: 12px; margin-top: 0; margin-bottom: 0;">Valores das Mensalidades para 2023</p>

      <table class="table table-sm table-hover table-bordered" border="2" style="max-width: 70%; margin-left: 5%; margin-bottom: 50px;">
        <thead>
          <tr>
            <th scope="col" style="text-align: center; max-width: 50px; ">Nivel</th>
            <th scope="col" style="text-align: center;">Valor da matricula e 11 mensalidades</th>
            <th scope="col" style="text-align: center;">Se pago até o 5º dia (R$ 30,00 de desconto)</th>
            <th scope="col" style="text-align: center;">Pagamento com cartão de crédito(mínimo 6 meses)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="text-align: center;">9º ano Pré-Médio (matutino + 2 tardes) com um Programa Eletivo em horários específicos</th>
            <td style="text-align: center;">R$ 1093,00</td>
            <td style="text-align: center;">R$ 1063,00 </td>
            <td style="text-align: center;">R$ 1019,00 </td>
          </tr>
          <tr>
            <th scope="row"  style="text-align: center; padding: 0,5%;">EM1ª, 2ª e 3ª série (Formação Geral Básica no matutino) com um Itinerário ou um Técnico em horários específicos</th>
            <td style="text-align: center;">R$ 1093,00</td>
            <td style="text-align: center;">R$ 1063,00</td>
            <td style="text-align: center;">R$ 1019,00</td>
          </tr>
        </tbody>
      </table>

      <p class="fw-bold" style="margin-left: 5%; font-size: 12px; margin-top: 0; margin-bottom: 0;">Valores dos Livros para 2023</p>

      <table class="table table-sm table-hover table-bordered" border="2" style="max-width: 30%; margin-left: 5%; margin-bottom: 50px;">
          <thead>
            <tr>
              <th scope="col" style="text-align: center;" padding: 0;>Livros Sistema Positivo</th>
              <th scope="col" style="text-align: center;padding: 0;">Parcelados em até 10x</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" style="text-align: center; padding: 0; ">9º ano Pré-Médio</th>
              <td style="text-align: center;">R$ 2199,43 <br> Já inclusos o do PES e o de Educação Financeira</td>
            </tr>
            <tr>
              <th scope="row"  style="text-align: center; padding: 0,5%;">Livro de Inglês PES - 9º ano</th>
              <td style="text-align: center;">R$ 347,23</td>
            </tr>
            <tr>
              <th scope="row" style="text-align: center;">EM1ª, 2ª e 3ª série </th>
              <td style="text-align: center; padding: 0;">R$ 2479,23</td>
             </tr>
          </tbody>
        </table>

        <p class="fw-bold" style="margin-left: 5%; font-size: 12px; margin-top: 0; margin-bottom: 0;">Os livros são vendidos pela Editora Positivo na loja virtual: <a href="www.proseculo.com.br">www.proseculo.com.br.</a></p>

<table class="table table-sm table-hover table-bordered" border="2" style="max-width: 30%; margin-left: 5%; margin-bottom: 50px;">
    <thead>
      <tr>
        <th scope="col" style="text-align: center; padding: 0;">Lista de Materiais</th>
        <th scope="col" style="text-align: center;padding: 0;">Série</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="text-align: center; ">9º ano Pré-Médio</th>
        <td style="text-align: center;"><a href="https://docs.google.com/document/d/1tOSPUFhL3eLKHT4GGvRf7IQSJ8n3JwnU8Pv10k0AdnY/edit?usp=sharing">Link</a></td>
      </tr>
      <tr>
        <th scope="row"  style="text-align: center;">Ensino Médio (1ª à 3ª série)</th>
        <td style="text-align: center;"><a href="https://docs.google.com/document/d/1E_LjwP8My9tkFWVh5dt5KPLkudZD2m6S-YM2wNvpXVA/edit?usp=sharing">Link</a></td>
      </tr>
      <tr>
    </tbody>
  </table>


  <p class="fs-6 fw-bold" style="margin-left: 5%; margin-top: 1%; margin-bottom: 0;">Faça a pré-matrícula do seu filho,</p>

  <p class="fs-5 fw-bold" style="margin-left: 5%; margin-top: 2%; margin-bottom: 0;">Faculdade</p>
  <p class="fw-bold" style="margin-left: 5%; font-size: 12px; margin-top: 0; margin-bottom: 0;">Valores das Mensalidades para 2023</p>

  <table class="table table-sm table-hover table-bordered" border="2" style="max-width: 40%; margin-left: 5%; margin-bottom: 50px;">
    <thead>
      <tr>
        <th scope="col" style="text-align: center; max-width: 50px; ">Cursos</th>
        <th scope="col" style="text-align: center;">Semestralidade</th>
        <th scope="col" style="text-align: center;">Opção em 6x</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="text-align: center;">Bacharel em Pedagogia </th>
        <td style="text-align: center;">R$ 4794,00</td>
        <td style="text-align: center;">R$ 799,00</td>
      </tr>
      <tr>
        <th scope="row"  style="text-align: center; padding: 0,5%;">Bacharel em Administração</th>
        <td style="text-align: center;">R$ 5394,00</td>
        <td style="text-align: center;">R$ 899,00</td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Análise e Desenvolvimento de Sistemas</th>
        <td style="text-align: center;">R$ 4794,00</td>
        <td style="text-align: center;">R$ 799,00</td>
       </tr>
       <tr>
        <th scope="row" style="text-align: center;">Bacharel em Enfermagem</th>
        <td style="text-align: center;">R$ 7.194,00</td>
        <td style="text-align: center;">R$ 1199,00 </td>
       </tr>
       <tr>
        <th scope="row" style="text-align: center;">Bacharel em Psicologia </th>
        <td style="text-align: center;">R$ 7.194,00</td>
        <td style="text-align: center;">R$ 1199,00</td>
       </tr>
    </tbody>
  </table>

  <p class="fs-6 fw-bold" style="margin-left: 5%; margin-top: 2%; margin-bottom: 3%;">Outras informações sobre Vestibular, Transferência, 2ª Graduação, Pós-Graduação, entre outros, acesse <a href="https://www.faculdadecci.com.br/">https://www.faculdadecci.com.br</a></p>

{% endblock conteudo %}