<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <title>Portal CCI</title>
</head>
<body>
    <div class="main-div">

        <div class="msg">
            <div class="titu">Seja <br> Bem-Vindo</div>
        </div>
        
        <div class="banner-inft">
            <a href="http://www.portalcci.com.br/Ensino/Educa%C3%A7%C3%A3o-Infantil">
                <div class="title">Infantil</div>
                <div class="img-inft"><img src="images/ED.png"></div>
            </a>
        </div>
        <div class="banner-fund">
            <a href="http://www.portalcci.com.br/Ensino/Ensino-Fundamental-I">
                <div class="title">Fundamental </div>
                <div class="img-fund"><img src="images/EF.png"></div>
            </a>
        </div>
        <div class="banner-em">
            <a href="http://www.portalcci.com.br/Ensino/Ensino-M%C3%A9dio">
                <div class="title">Ensino Médio</div>
                <div class="img-em"><img src="images/EM.png"></div>
            </a>
        </div>       
        <div class="banner-tecs">
             <a href="http://www.portalcci.com.br/Ensino/TECs-CCI-Escola-T%C3%A9cnica">
                <div class="title">Escola Técnica</div>
                <div class="img-tecs"><img src="images/TÉCNICO.png"></div>
            </a>
        </div>
           
        <div class="banner-sup">    
            <a href="http://www.portalcci.com.br/Ensino/Faculdade-CCI">
                <div class="title">Faculdade</div>
                <div class="img-sup"><img src="images/FACULDADE.png"></div>
            </a>
        </div>
        <!-- <div class="laterbar">
            
        </div> -->

        <div class = menu-lateral>
            <a href="http://www.portalcci.com.br/Institucional/A-Institui%C3%A7%C3%A3o-"><div class="imgcci"><img src="images/logo_cci_mini.png"></div></a>

            <div>
                <a class="whatsapp-link" href="http://web.whatsapp.com/send?phone=556130488210" target="_blank"> 
                    <i class="fa fa-whatsapp"></i>
                </a>
                <a class="telefone" href="tel:(61) 30488200" target="_blank">
                    <i class="fa fa-phone"></i>
                </a>
                <a class="user" href="www.google.com" target="_blank">
                    <i class="fa fa-user"></i>
                </a>
                <a class="calendar" href="www.google.com" target="_blank">
                    <i class="fa fa-calendar-o"></i>
                </a>
                <a class="aluno" href="http://tw.portalcci.com.br/" target="_blank">
                    <i class="fa fa-graduation-cap"></i>
                </a>
            </div>
        </div>  

        
    </div>
</body>
</html>