{% extends 'base.html' %}
{% block conteudo %}
<div class="text-center">

    <p>
    <a class="btn btn-primary" style="margin-top: 15px; " href="{{url_for('institucional')}}" role="button">Institucional</a>
    <a class="btn btn-primary" style="margin-top: 15px; margin-left: 15px;" href="{{url_for('funcionamento')}}" role="button">Funcionamento</a>
    <a class="btn btn-primary" style="margin-top: 15px; margin-left: 15px;" href="{{url_for('missao')}}" role="button">Missão</a>
    <a class="btn btn-primary" style="margin-top: 15px; margin-left: 15px" href="{{url_for('principios')}}" role="button">Princípios</a>
    <a class="btn btn-primary" style="margin-top: 15px; margin-left: 15px" href="{{url_for('regimento')}}" role="button">Regimento</a>
    <a class="btn btn-primary" style="margin-top: 15px; margin-left: 15px" href="#" role="button">Secretaria</a>
  </p>

</div>

<div class="text-center"> <br>  <img src="../static/img/cci2.gif" height="300" width="500"  class="img-fluid hover-shadow" alt="Hollywood Sign on The Hill"> </div>

<p class="fs-1 fw-bold" style="text-align: center;">Missão</p>

<div class="d-flex aling-items-center">


    <ul class="list-group list-group-light" style="margin-left: 100px; margin-right: 100px;  ">
        <li class="list-group-item border-0 fw-bold" style="font-style: italic; background-color:rgba(144,  203,  44,  0)"> O CCI foi fundado em 1996 pela Sociedade Educativa Braga e Elói Ltda, com o intuito de:</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- Oferecer à comunidade um  ensino de qualidade, desde a Educação Infantil ao Ensino Médio, através de um trabalho voltado ao aperfeiçoamento sociocultural, humano, empreendedor e solidário em ambiente prazeroso.</li>
        <li class="list-group-item border-0 fw-bold" style="font-style: italic; background-color:rgba(144,  203,  44,  0)">Conheça alguns dos nossos diferenciais</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- Professores e funcionários competentes e especializados</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- Opção de Jornada Escolar Ampliada - JEA;</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- Premiação pela seriedade na oferta de Educação de excelência;</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- Opção de Período Integral no anexo do CCI;</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- Salas iluminadas, amplas e arejadas;</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- Quadras Poliesportivas;</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- Projetos Interdisciplinares diversos;</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- Telessalas com recursos multimídia e lousa eletrônica;</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- Cobertura/Espaço da Mente – para descanso dos profissionais;</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- Respeito aos alunos com Necessidades Educacionai Especiais (inclusão);</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- Lanchonete Geração-Saúde;</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- Simulados e Exames para alunos do Ensino Médio, oportunizando experiências em processos seletivos como o PAS e ENEM;</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- CCIWEB - Boletim On-line com notas, conteúdos e ocorrências: www.cciweb.com.br;</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- Parceiros Esportivos e Culrurais, com aulas de Coral, Teclado, Futsal, Robótica, Xadrez, Violão, Banda, Basquete, Natação, Teatro, Karatê, Dança, etc;</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- Escola credenciada pela SEDF/CEDF e conveniada ao Sinepe/DF;</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- Área de Transporte exclusiva e coberta – saída com segurança e bastante cuidado;</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- Sistema de Ensino Positivo (Maternal ao EM);</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- CONSED – Conselho de Segurança e Disciplina Escolar;</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- Parceiros para melhoria constante do pedagógico: Escola da Inteligência, UnB (nutrição), SEBRAE/Sinepe/Acis (Consultoria e JEPP), Clínica Saúde Integral (consultoria e atendimentos),  Mind Lab (MenteInovadora);</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- Participação em Avaliações Nacionais: Provinha Brasil, SAEB, Enem e outros;</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- Crescente aprovação no PAS/UnB, no Enem e em outras Universidades Federais;</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- Testes Semanais e Avaliação Trimestral Globalizada;</li>
        <li class="list-group-item border-0" style=" background-color:rgba(144,  203,  44,  0)">- Banco de Questões Onl-ine para realização de exercícios e provas;</li>
      </ul>


</p></div>
{% endblock conteudo %}