{% extends 'base.html' %}
{% block conteudo %}

<div class="wrapper">
<div class="container-fluid">
<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-left: 10%; margin-right:10%; margin-bottom: 5%;">
    <div class="col" >
        <div class="d-flex align-items-center justify-content-center text-center" style="height: 500px;">
        <p class="h4 fw-bold">CONHEÇA NOSSO ENSINO</p>
        </div>

    </div>
    <div class="col-md-2">
        <a href="{{url_for('educacao_infantil')}}">
        <div class="bg-image hover-zoom img-fluid"> <img src="{{ url_for('static', filename='../static/img/ED.png') }}" class="w-100" style="height:500px; width:200px;">
        </div>
        </a>
        <button type="button" class="btn btn-secondary btn-rounded position-absolute fixed-bottom align-items-center justify-content-center text-center" data-mdb-ripple-color="blue" style="width: 130px; margin-left:17%; margin-bottom:50px;">ED. INFANTIL</button>
    </div>
    <div class="col-md-2">
        <a href="{{url_for('ensino_fundamental')}}">
         <div class="bg-image hover-zoom img-fluid"> <img src="{{ url_for('static', filename='../static/img/EF.png') }}" class="w-100" style="height:500px; width:200px;">
         </div>
        </a>
        <button type="button" class="btn btn-light btn-rounded position-absolute fixed-bottom align-items-center justify-content-center text-center" data-mdb-ripple-color="blue" style="width: 130px; margin-left:17%; margin-bottom:50px;">ENSINO FUND</button>
    </div>
    <div class="col-md-2">
        <a href="{{url_for('ensino_medio')}}">
        <div class="bg-image hover-zoom img-fluid"> <img src="{{ url_for('static', filename='../static/img/EM.png') }}" class="w-100" style="height:500px; width:200px;">
        </div>
        </a>
        <button type="button" class="btn btn-info btn-rounded position-absolute fixed-bottom align-items-center justify-content-center text-center" data-mdb-ripple-color="blue" style="width: 130px; margin-left:17%; margin-bottom:50px;">ENSINO MÉDIO</button>
    </div>
    <div class="col-md-2">
        <a href="https://www.tecscci.com.br/">
        <div class="bg-image hover-zoom img-fluid"> <img src="{{ url_for('static', filename='../static/img/TÉCNICO.png') }}" class="w-100" style="height:500px; width:200px;">
        </div>
        </a>
        <button type="button" class="btn btn-info btn-rounded position-absolute fixed-bottom align-items-center justify-content-center text-center" data-mdb-ripple-color="blue" style="width: 130px; margin-left:17%; margin-bottom:50px;">TÉCNICO</button>
    </div>
    <div class="col-md-2">
            <div class="text-center">
            <a href="https://www.faculdadecci.com.br/">
            <div class="bg-image hover-zoom img-fluid align-items-center justify-content-center text-center justify-content-center"> <img src="{{ url_for('static', filename='../static/img/FACULDADE.png') }}" class="w-100" style="height:500px; width:200px;">
            </div>
            </a>
            <button type="button" class="btn btn-info btn-rounded position-absolute fixed-bottom align-items-center justify-content-center text-center" data-mdb-ripple-color="blue" style="width: 130px; margin-left:17%; margin-bottom:50px;">Faculdade</button>
            </div>
    </div>


</div>
</div>
</div>

{% endblock conteudo %}