{% extends 'base.html' %}
{% block conteudo %}

<p class="fs-1 fw-bold" style="text-align: center; margin-top: 25px;">Projeto Socioambiental (Cuidando da nossa cidade...)</p>
<br>
<p class="fs-6 fw-bold" style="margin-left: 5%;">Monumentos de Samambaia</p>
<p class="font-monospace" style="margin-left: 5%; margin-right:5%; font-size:small;">O projeto Monumentos para Samambaia iniciou em 2005, proposto pelo diretor do Centro de Criatividade Infanto-juvenil – Colégio CCI, Clayton Braga, ao artista plástico e jornalista Élton Skartazini, que criou o monumento Lugar ao Sol, presente pelo 16º aniversário de Samambaia.</p>

<p class="font-monospace" style="margin-left: 5%; margin-right:5%; font-size:small;">Com AUTORIZAÇÃO da Administração Regional Samambaia/GDF, APOIO de empresas parceiras e PATROCÍNIO do Fundo de Apoio à Cultura – FAC/DF, se implantou também os monumentos Luz do Saber (2006), Transparência (2009), Encontro(2010) e Figuras do Agreste (2012). Juntou-se ao projeto o artista plástico Lia Samara, que implantou os monumentos Três Meninas (2005) e Asas da Imaginação (2006).</p>

<p class="text-end font-monospace" style="margin-right: 5%; font-size:small;">Fonte: <a href="https://skartazini.com/monumentos-para-samambaia/">Skartazini Arte e Comunicação</a></p>


<div class="text-center"> <br>  <img src="../static/img/obras.png" height="400" width="600"  class="img-fluid hover-shadow" alt="Hollywood Sign on The Hill"> </div>

<p class="fs-6 fw-bold" style="margin-left: 5%; margin-top: 5%;">Compensação Comportamental, Social e Ambiental</p>

<p class="font-monospace" style="margin-left: 5%; margin-right:5%; font-size:small;">O CCI e CCI Sênior estão promovendo o Projeto de Compensação Comportamental, Social e Ambiental que consiste, basicamente, no bom desenvolvimento do aluno bolsista, na contribuição anual do desconto oferecido pela escola a uma instituição social e no plantio de uma árvore. Atualmente, a escola já oferece bolsas de estudo aos seus alunos, com o propósito de possibilitar o acesso a um ensino de qualidade. A proposta do projeto é enriquecer e fortalecer a idéia, levando-se em conta as necessidades das Instituições Sociais vigentes em Samambaia, além, claro, da situação atual do Meio Ambiente. </p>

<p class="font-monospace" style="margin-left: 5%; margin-right:5%; font-size:small;">Após anos observando e percebendo que a escola é um instrumento de promoção de valores, de promoção de ações sociais e ambientais, o CCI e o CCI Sênior propõem a toda a comunidade escolar uma compensação de benefícios proporcionados pela escola. A compensação se dará em três atitudes simples: </p>

    <ol class="list-group list-group-light " style="margin-left: 5%; ">
        <li class="list-group-item item border-0 font-monospace" style="font-size: small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)">- Melhorias de notas e comportamento em sala de aula - quando aluno (Comportamental);</li>
        <li class="list-group-item item border-0 font-monospace" style="font-size: small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)" >- Contribuição / doação a Instituições Sociais de valores ou outro tipo de contribuição (Social);</li>
        <li class="list-group-item item border-0 font-monospace" style="font-size: small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)">- Plantio de árvores (Ambiental).</li>
    </ol>

<p class="fs-7 fw-bold" style="margin-left: 5%; margin-top: 1%; ">Motivos do Projeto</p>

<p class="font-monospace" style="margin-left: 5%; margin-right:5%; font-size:small;">Dentro dos princípios do CCI, temos preocupação e ação quanto à sustentabilidade do Planeta, temos aperfeiçoamento sócio-cultural, humano e solidário. E dentro desses princípios, temos observado que as pequenas ações individuais são as que realmente produzem efeito junto à comunidade seja no campo social, comportamental e ambiental.</p>

<p class="fs-7 fw-bold" style="margin-left: 5%; margin-top: 1%; ">No âmbito de funcionários e colaboradores</p>

<p class="font-monospace" style="margin-left: 5%; margin-right:5%; font-size:small;">O Grupo CCI tem sido referência patronal e empregadora e atualmente conta com quase 160 funcionários e colaboradores, todos com suas remunerações, benefícios educacionais para si e para filhos. Se cada um puder contribuir um pouco para as questões ambientais e sociais, iremos ter grandes resultados.</p>

<p class="fs-7 fw-bold" style="margin-left: 5%; margin-top: 1%; ">No âmbito de alunos bolsistas</p>

<p class="font-monospace" style="margin-left: 5%; margin-right:5%; font-size:small;">O CCI tem muitos alunos bolsistas e, ainda assim, investe em muitas ações pedagógicas, sociais e ambientais, principalmente pela postura dos sócios-proprietários. O aluno bolsista no CCI não proporciona nenhum tipo de benefício à escola, pelo contrário, ele gera os mesmos custos de um aluno pagante da mensalidade integral, e obtém os mesmos benefícios.</p>

<p class="font-monospace" style="margin-left: 5%; margin-right:5%; font-size:small;">Portanto, nada mais justo que esse aluno e sua família contribuam:</p>

<ol class="list-group list-group-light list-group-numbered" style="margin-left: 5%;  ">
    <li class="list-group-item item border-0 font-monospace" style="font-size:small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)">com boas notas e bom comportamento;</li>
    <li class="list-group-item item border-0 font-monospace" style="font-size:small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)">colaborando com instituições sociais;</li>
    <li class="list-group-item item border-0 font-monospace" style="font-size:small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)">colaborando com o Planeta Terra, plantando pelo menos uma árvore.</li>
</ol>

<p class="fs-7 fw-bold" style="margin-left: 5%; margin-top: 1%; ">Alunos Bolsistas</p>

<p class="font-monospace" style="margin-left: 5%; margin-right:5%; font-size:small;">Os pais de alunos bolsistas receberão um comunicado em Agosto/2007 sobre as novas mensalidades. Para que o valor de sua bolsa seja renovado, o CCI pedirá:</p>

<ol class="list-group list-group-light" style="margin-left: 5%;">
    <li class="list-group-item item border-0 font-monospace" style="font-size:small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)">a) análise do comportamento e das notas desses alunos;</li>
    <li class="list-group-item item border-0 font-monospace" style="font-size:small; padding-top: 0; padding-bottom: 0; margin-right: 5%; background-color:rgba(144,  203,  44,  0)">b) a doação de algo no valor de um desconto equivalente a um mês, a uma das instituições indicadas pelo CCI (basta uma vez ao ano, a colaboração do valor correspondente ao desconto – se o desconto é de R$ 40,00, a doação deverá ser nesse valor ou algo que corresponda ao mesmo);</li>
    <li class="list-group-item item border-0 font-monospace" style="font-size:small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)">c) a foto de uma árvore plantada, em qualquer lugar, com data/hora e tipo de árvore plantada.</li>
</ol>

<p class="fs-7 fw-bold" style="margin-left: 5%; margin-top: 1%; ">Instituições Conveniadas ao Projeto Comportamental, Social e Ambiental do CCI</p>

<ol class="list-group list-group-light" style="margin-left: 5%;">
    <li class="list-group-item item border-0 font-monospace" style="font-size:small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)">Lar Mãe da Divina Graça</li>
    <li class="list-group-item item border-0 font-monospace" style="font-size:small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)">Casa Azul</li>
    <li class="list-group-item item border-0 font-monospace" style="font-size:small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)">Orfanato</li>
    <li class="list-group-item item border-0 font-monospace" style="font-size:small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)">Lar Rebeca</li>
    <li class="list-group-item item border-0 font-monospace" style="font-size:small; padding-top: 0; padding-bottom: 0; background-color:rgba(144,  203,  44,  0)">Escola Classe 415 - Samambaia</li>
</ol>

<p class="fs-7 fw-bold" style="margin-left: 5%; margin-top: 1%; ">Sugestões para plantio</p>
<p class="font-monospace" style="margin-left: 5%; margin-right:5%; font-size:small;">As de madeira de lei e as frutíferas.</p>


{% endblock conteudo %}