{% extends 'base.html' %}
{% block conteudo %}

<div class="text-center">

  <p>
    <a class="btn btn-primary" style="margin-top: 15px; " href="{{url_for('institucional')}}" role="button">Institucional</a>
    <a class="btn btn-primary" style="margin-top: 15px; margin-left: 15px;" href="{{url_for('funcionamento')}}" role="button">Funcionamento</a>
    <a class="btn btn-primary" style="margin-top: 15px; margin-left: 15px;" href="{{url_for('missao')}}" role="button">Missão</a>
    <a class="btn btn-primary" style="margin-top: 15px; margin-left: 15px" href="{{url_for('principios')}}" role="button">Princípios</a>
    <a class="btn btn-primary" style="margin-top: 15px; margin-left: 15px" href="{{url_for('regimento')}}" role="button">Regimento</a>
    <a class="btn btn-primary" style="margin-top: 15px; margin-left: 15px" href="#" role="button">Secretaria</a>
  </p>

</div>

<div class="text-center"> <br>  <img src="../static/img/cci2.gif" height="300" width="500"  class="img-fluid hover-shadow" alt="Hollywood Sign on The Hill"> </div>

<p class="fs-1 fw-bold" style="text-align: center;">Regimento Escolar</p>

      <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-bottom:50px; margin-left:75px; margin-right:75px;">
  <div class="col">
    <div class="card h-100" style="max-width:250px; max-height:250px; margin:auto;">
      <div class="text-center">
      <img src="../static/img/regi.png" style="height:100px; width:100px; margin-top:10%;" class="align-items-center" alt="Hollywood Sign on The Hill"/>
      </div>
        <div class="card-body">
        <h5 class="card-title text-center">Regimento</h5>
        <p class="card-text text-center">Regimento CCI Sênior</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" style="max-width:250px; max-height:250px; margin:auto;">
      <div class="text-center">
      <img src="../static/img/regi.png" style="height:100px; width:100px; margin-top:10%;" class="align-items-center" alt="Hollywood Sign on The Hill"/>
      </div>
      <div class="card-body">
        <h6 class="card-title text-center" style="">Normas de Convivência</h6>
        <p class="card-text text-center">Público Geral</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" style="max-width:250px; max-height:250px; margin:auto;">
      <div class="text-center">
      <img src="../static/img/regi.png" style="height:100px; width:100px; margin-top:10%;" class="align-items-center" alt="Hollywood Sign on The Hill"/>
      </div>
      <div class="card-body">
        <h6 class="card-title text-center">Normas de Convivência Aulas Remotas</h6>
        <p class="card-text text-center">Turmas Remotas CCI & CCI Sênior</p>
      </div>
  </div>
  </div>
  <div class="col">
    <div class="card h-100"style="max-width:250px; max-height:250px; margin:auto;">
      <div class="text-center">
      <img src="../static/img/regi.png" style="height:100px; width:100px; margin-top:10%;" class="align-items-center" alt="Hollywood Sign on The Hill"/>
      </div>
      <div class="card-body">
        <h6 class="card-title text-center">Protocolos da COVID</h6>
        <p class="card-text text-center">Regulamento de segurança</p>
      </div>
  </div>
  </div>
      </div>


{% endblock conteudo %}