{% extends 'base.html' %}
{% block conteudo %}

<p class="fs-1 fw-bold" style="text-align: center; margin-top: 25px;">Relação de Transportadores</p>

<p class="text-break" style="margin-left:50px ;">Prezados Senhores Pais, <br>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Segue a lista dos Tios de Transporte Escolar. Pedimos que informem à Secretaria de Atendimento do CCI o nome do tio contratado pelos senhores. Para isso, entrem em contato pelos telefones 3048-8200 / 9.9115-5707 ou pelo E-mail <a href="mailto:secretaria@portalcci.com.br"> secretaria@portalcci.com.br</a>.   </p>

<p class="fs-3 fw-bold" style="text-align: center; margin-top:10px;">Samambaia Sul</p>

<table class="table table-sm table-hover table-bordered" border="2" style="margin-top: 10px; max-width: 70%; margin-left: 10%;">
    <thead>
      <tr>
        <th scope="col" style="text-align: center; max-width: 70px; ">Transportadores Escolares</th>
        <th scope="col" style="text-align: center;">Quadras: 100,300,500</th>
        <th scope="col" style="text-align: center;">Telefones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="text-align: center;">Tia Ana Cláudia</th>
        <td style="text-align: center;">100, 300, 500 ímpares (centro urbano)</td>
        <td style="text-align: center;"><a href="tel:(61) 984972734"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tio Bernardes</th>
        <td style="text-align: center;">100, 300, 500 ímpares</td>
        <td style="text-align: center;"><a href="tel:(61) 991273961"><i class="fas fa-phone me-3"></i></a> <a href="tel:(61) 999611578"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tio Cristiano</th>
        <td style="text-align: center;">100, 300 pares </td>
        <td style="text-align: center;"><a href="tel:(61) 984972734"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tio Jessé</th>
        <td style="text-align: center;">100, 300 e 500 ímpares (exclusivo CCI)</td>
        <td style="text-align: center;"><a href="tel:(61) 986030043"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tio Márcio 2021</th>
        <td style="text-align: center;">100, 101 e 302</td>
        <td style="text-align: center;"><a href="tel:(61) 984941439"><i class="fas fa-phone me-3"></i></a> <a href="tel:(61) 993327924"><i class="fas fa-phone me-3"></i></a> <a href="tel:(61) 996073800"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tio Pedro</th>
        <td style="text-align: center;">101 e 301</td>
        <td style="text-align: center;"><a href="tel:(61) 999527523"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Trans Legal Adriano</th>
        <td style="text-align: center;">101, 301, 302 e 102 à 122 pares</td>
        <td style="text-align: center;"><a href="tel:(61) 985710884"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tio Bruno e Tia Elaine</th>
        <td style="text-align: center;">100, 300 e 500 pares</td>
        <td style="text-align: center;"><a href="tel:(61) 985638334"><i class="fas fa-phone me-3"></i></a> <a href="tel:(61) 991142743"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tia Nígima</th>
        <td style="text-align: center;">SMSE, 116 à 122 pares</td>
        <td style="text-align: center;"><a href="tel:(61) 996961013"><i class="fas fa-phone me-3"></i></a> <a href="tel:(61) 999720597"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Trans Shekinah (Márcio e Vera)</th>
        <td style="text-align: center;">Ímpares da Samambaia</td>
        <td style="text-align: center;"><a href="tel:(61) 984717797"><i class="fas fa-phone me-3"></i></a><a href="tel:(61) 985647797"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tio Marcos</th>
        <td style="text-align: center;">502 à 518 pares, SMSE</td>
        <td style="text-align: center;"><a href="tel:(61) 984309484"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tio Denis e Tia Cleia</th>
        <td style="text-align: center;"> Samambaia Sul (Denis Sul ímpar/Cleia Sul e Norte)</td>
        <td style="text-align: center;"><a href="tel:(61) 986172645"><i class="fas fa-phone me-3"></i></a></td>
      </tr>

    </tbody>
  </table>

  <p class="fs-3 fw-bold" style="text-align: center; margin-top:20px;">Samambaia Norte</p>

  <table class="table table-sm table-hover table-bordered" border="2" style="margin-top: 30px; max-width: 70%; margin-left: 10%;">
    <thead>
      <tr>
        <th scope="col" style="text-align: center; max-width: 70px; ">Transportadores Escolares</th>
        <th scope="col" style="text-align: center;">Quadras: 200, 400, 600, 800, 1000</th>
        <th scope="col" style="text-align: center;">Telefones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="text-align: center;">Tio Anderson</th>
        <td style="text-align: center;">414 à 416, 610 à 616, QSC 19, SMT</td>
        <td style="text-align: center;"><a href="tel:(61) 984061458"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tia Elaine</th>
        <td style="text-align: center;">400 pares</td>
        <td style="text-align: center;"><a href="tel:(61) 985710882"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tio Vinícius e Tia Jú 2021</th>
        <td style="text-align: center;">200 pares</td>
        <td style="text-align: center;"><a href="tel:(61) 994208989"><i class="fas fa-phone me-3"></i></a> <a href="tel:(61) 991319177"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tio Fan</th>
        <td style="text-align: center;">412 à 416, Res. Palmeiras, QSC 19, SMT</td>
        <td style="text-align: center;"><a href="tel:(61) 991641247"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tio Gerson</th>
        <td style="text-align: center;">602 à 614 pares</td>
        <td style="text-align: center;"><a href="tel:(61) 996322886"><i class="fas fa-phone me-3"></i></a> <a href="tel:(61) 991355174"><i class="fas fa-phone me-3"></i></a> <a href="tel:(61) 33574978"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tio Márcio 2021</th>
        <td style="text-align: center;">200 pares</td>
        <td style="text-align: center;"><a href="tel:(61) 984941439"><i class="fas fa-phone me-3"></i></a> <a href="tel:(61) 993327924"><i class="fas fa-phone me-3"></i></a> <a href="tel:(61) 996073800"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tia Marinho</th>
        <td style="text-align: center;">200 pares, 412 e 414</td>
        <td style="text-align: center;"><a href="tel:(61) 985247103"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tio Nelson</th>
        <td style="text-align: center;">200, 400, 600 (expansão), 800 e 1000 ímpares</td>
        <td style="text-align: center;"><a href="tel:(61) 996173434"><i class="fas fa-phone me-3"></i></a> <a href="tel:(61) 985200185"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tio Marquinhos</th>
        <td style="text-align: center;">200, 400 e 600 ímpares </td>
        <td style="text-align: center;"><a href="tel:(61) 984820191"><i class="fas fa-phone me-3"></i></a> <a href="tel:(61) 992916994"><i class="fas fa-phone me-3"></i></a> <a href="tel:(61) 33596648"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tio Matheus 2021</th>
        <td style="text-align: center;">400 e 600 ímpares </td>
        <td style="text-align: center;"><a href="tel:(61) 996252678"><i class="fas fa-phone me-3"></i></a> <a href="tel:(61) 996423013"><i class="fas fa-phone me-3"></i></a> <a href="tel:(61) 33584918"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tia Noêmia e Tio Franklin</th>
        <td style="text-align: center;">200, 400, 600 ímpares (centro urbano)</td>
        <td style="text-align: center;"><a href="tel:(61) 992229957"><i class="fas fa-phone me-3"></i></a> <a href="tel:(61) 995917233"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tio Pedro</th>
        <td style="text-align: center;">206 à 212 pares</td>
        <td style="text-align: center;"><a href="tel:(61) 999527523"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tio Patrick</th>
        <td style="text-align: center;">200 e 400 ímpares</td>
        <td style="text-align: center;"><a href="tel:(61) 984942942"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tio Toni</th>
        <td style="text-align: center;">200 e 400 pares</td>
        <td style="text-align: center;"><a href="tel:(61) 984780292"><i class="fas fa-phone me-3"></i></a> <a href="tel:(61) 996091544"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
    </tbody>
  </table>

  <p class="fs-3 fw-bold" style="text-align: center; margin-top:20px;">Cidades Vizinhas </p>

  <table class="table table-sm table-hover table-bordered" border="2" style="margin-top: 30px; max-width: 70%; margin-left: 10%; margin-bottom: 100px;">
    <thead>
      <tr>
        <th scope="col" style="text-align: center; max-width: 70px; ">Transportadores Escolares</th>
        <th scope="col" style="text-align: center;">Fora de Samambaia - Entorno</th>
        <th scope="col" style="text-align: center;">Telefones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="text-align: center;">Tio Amilton</th>
        <td style="text-align: center;">Tag Sul, SMT, QSC19</td>
        <td style="text-align: center;"><a href="tel:(61) 986429200"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tio Bruno Espíndula</th>
        <td style="text-align: center;">QNL, QNH, QNG, QI Taguatinga, Ceilândia Sul, QNJ      </td>
        <td style="text-align: center;"><a href="tel:(61) 984168320"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center;">Tio Gilberto 2021</th>
        <td style="text-align: center;">Riacho Fundo II e Ponta do Recanto das Emas</td>
        <td style="text-align: center;"><a href="tel:(61) 982570678"><i class="fas fa-phone me-3"></i></a> <a href="tel:(61) 996294292"><i class="fas fa-phone me-3"></i></a></td>
      </tr>
    </tbody>
  </table>

{% endblock conteudo %}